.main-section {
    background-image: url('../img/img-main.jpeg');
    background-size: cover; /* La imagen cubrirá todo el ancho y largo */
    background-position: center;
    height: 300px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;
    text-align: center;
}

.cards-container {
   display: flex;
   font-size: 14px;
   gap: 15px;
   padding-bottom: 25px;

   
}
.card-body {
    display: flex;
    flex-direction: column;
    justify-content:space-between;
    padding: 0.5rem;
    flex-grow: 1;
    
   
    

}
.card {
    width: 18rem;           
    margin: 0.5rem;  
    display: flex;           
    flex-direction: column;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);

}

#container-venta {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    
   

}
#container-alquiler {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: space-between;
   

}

.img{
    height: 200px;
   
}
.title {
    font-size: 22px;

}